.rowBox {
    height: 26px;
    display: flex;
    flex-direction: row;
    margin: 4px;
}
.nameBox{
    width: 200px;
    background-color: rgba(0, 143, 255, 0.86);
    border-radius: 2px;
    color: #ffffff;
    padding-left: 10px;


}